<div class="user-show">
  <div class="user">
    <h2>ユーザー名</h2>
    <p><%= @user.name %></p>
    <img src="<%= @user.image %>">
    <h2>メールアドレス</h2>
    <p><%= @user.email %></p>
    <% if @current_user && @user.id == @current_user.id %>
      <%= link_to('プロフィールの編集', "/users/#{@user.id}/edit") %>
    <% end %>
  </div>
</div>
