<div class="user-show">
  <div class="user">
    <h2>ユーザー名</h2>
    <p><%= @user.name %></p>
    <h2>メールアドレス</h2>
    <p><%= @user.email %></p>
    <%= link_to('プロフィールの編集', "/users/#{@user.id}/edit") %>
  </div>
</div>
